.btn
  box-shadow: none;
  border: none;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 4px;
  cursor pointer
  transition all 0.2s linear
  outline none
  &Blue
    background: #08adec;
  &Purple
    background: #8B83BA;
  &:hover
    background #0692c7
  &:focus
    outline none
