@import '../../../styles/mixins/grid.styl'
.user
  &RemoveBtn
    background: rgba(0,0,0,0);
    box-shadow: none;
    border: none;
    height: auto;
    line-height: 1;
    padding 0 16px 0 0
    &:hover, &:focus
      background rgba(0,0,0, 0)
      box-shadow none
      border none
      transform none
      svg
        fill #af0003
    svg
      transition all 0.2s linear
      fill #ee0004
  &UpdateLink
    width 40px
    display flex
    justify-content center
    align-items center
    margin 0
    svg
      fill #6e6893
      transition all 0.2s linear
    &:hover, &:focus
      svg
        fill #4b497b

.usersTable
  &BackgroundWrap
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  &DotsLeft,
  &DotsRight,
  &Circle,
  &CircleSmall,
  &Rectangle,
  &Triangle
    position absolute
  &DotsLeft
    top: auto;
    bottom: -8%;
    left: -6%;
  &DotsRight
    top: 50%;
    bottom: auto;
    right: -80px;
    height: 350px;
    transform: translateY(-50%);
  &CircleSmall
    top: auto;
    bottom: 1%;
    right: 15%;
  &Rectangle
    top: 0%;
    left: 65%;
  &Triangle
    top: -17%;
    right: -5%;

  &IconsFillLight
    fill #EAE8F4
  &IconsFillDark
    fill #EAE8F4
  &IconsFillWhite
    fill #ffffff

//RESPONSIVE
@media media-query-desktop
  .usersTable
    &BackgroundWrap
      display none
@media screen and (max-width: 1024px)
  .user
    &UpdateLink
      margin-left: auto;
    &RemoveBtn
      padding-right 8px
