@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&family=Vollkorn+SC:wght@400;600&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #696868;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background: #F2F0F9;
}

h1,h2,h3,h4,h5, label, th {
    font-family: 'Vollkorn SC', serif;
}

h1,h2,h3,h4,h5 {
    margin-top: 0;
    margin-bottom: 16px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

#root {
    height: 100%;
    width: 100%;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    display: block;
    width: 100%;
}

.react-tel-input .flag-dropdown,
.react-tel-input .flag-dropdown:hover,
.react-tel-input .flag-dropdown:focus {
    background: rgba(0,0,0, 0);
    border: 0;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus,
.react-tel-input .flag-dropdown.open .selected-flag,
.react-tel-input .flag-dropdown.open {
    background: rgba(0,0,0, 0);
    border: 0;
}

.react-tel-input {
    font-family: 'Exo', sans-serif;
}
