@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #696868;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background: #F2F0F9;
}

h1,h2,h3,h4,h5 {
    font-weight: 500;
}

#root {
    height: 100%;
    width: 100%;
}
