/* grid and site dimensions */
site-width-desktop = 1500px
site-width-laptop = 1280px
site-width-tablet = 1024px
site-width-mobile = 760px

/* media query dimensions */
/* obviously the default view doesn't require a media query */
media-query-desktop = 'only screen and (max-width: ' + site-width-desktop + ')'
media-query-laptop = 'only screen and (max-width: ' + site-width-laptop + ')'
media-query-tablet = 'only screen and (max-width: ' + site-width-tablet + ')'
media-query-mobile = 'only screen and (max-width: ' + site-width-mobile + ')'
