.pagination
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type none
  &Item
    padding: 4px 10px;
    list-style none
    margin-left 8px
.active
  background: #6E6893;
  border-radius: 4px;

  color: #ffffff;
  font-weight: 500;
